.header{
    background: rgb(20, 19, 19);
}
.header-icon{
    font-size: 2rem;
    margin: 10px;
   
}
.header h1{
    color: aliceblue;
}
.header  span{
    color: orange;
}
.header-btn{
    font-size: 1rem;
    color: aliceblue;
    font-weight: 600;
}